

.daypilot-event-inner, .daypilot-cell, .daypilot-row-header {
  user-select: text !important;
  -webkit-user-select: text !important; /* For Safari */
  -moz-user-select: text !important;    /* For Firefox */
  -ms-user-select: text !important;      /* For Internet Explorer/Edge */
}
.dp-cell, .dp-event {
  user-select: text !important;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.my-event{
     background-color: red !important;
  border-radius: 6px;
  color: rgb(29, 192, 29);;
}.scheduler_default_event_bar { 
  top:0px;left:0px;right:0px;height:4px;background-color:#9dc8e8;
}
.scheduler_default_event_bar_inner { 
  position:absolute;height:4px;background-color:#1066a8;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
